body{
	background:linear-gradient(to bottom, black , red , yellow , red , black);
}
#container{
height: 800px;
width: 1000px;
margin-left: auto;
margin-right: auto;

}
#header {
	background:linear-gradient(to left, gray , red , gray ) ;
	width: 100%;
	height: 200px;
	

}



img{
	height: 150px;
	width: 150px;
	margin-top: 20px;
	margin-left: 400px;
	border-radius: 80px;
	transition: all 1s;
	cursor: pointer;
}

img:hover{
	transform: scale(1.1);
}

#nav{
background-color: black;
width: 74.2%;
height: 60px;
position: absolute;


}
a{
	font-family: Arial;
	text-decoration: none;
	font-size: 25px;
	padding-left: 10%;
	color: white;
}

#content{
background:linear-gradient(to left , black);
height: 800px;
padding-top: 50px;


}

h1{
	font-family: "Comic Sans MS";
	color: white;
	

}
p{
	
	text-align:
	margin-left: 5px;
	letter-spacing: 2px;
	color: white;
}

#footer{
	background:linear-gradient(to left , red , black , red , black) ;
	height: 40px;
	width: 1000px;
 	margin-left: 167px;
 	margin-top: 250px;

}
#footer h6{
	text-align: center;
	padding-top: 10px;
	font-family:  "Comic Sans MS";
	font-size: 17px;
	color: white;
}

